.reservation-form-container {
    width: 50%;
    margin: 25px auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #415161;
    color: white;
    border-radius: 5px;
  }
  .reservation-form-container label {
    font-size: 16px;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .bookBtn {
    display: block;
    width: 100px;
    margin: 1.1rem auto 0.1rem auto;
    padding: 10px 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(77, 101, 233);
    font-size: 1.25rem;
  }
  .bookBtn:hover{
    background-color: rgb(39, 62, 194);
  }
  .reservation-form-container form input {
    width: 70%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  @media screen and (max-width: 600px){
    .reservation-form-container{
        width: 90%;
    }
  }