.featured-rooms{
    display: grid;
    grid-template-areas: "room-container";
}
.room-photo-container{
    width: 400px;
    height: 400px; 
}
.room-photo-container img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    transition: 0.5s;
 
}
.room-container-home{
    display: grid;
    grid-template-areas: "room-photo-container room-desc";
    width: 60%;
    margin: 2rem auto;
    background-color: #415161;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    justify-self: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}
.room-container-home:hover .room-photo-container img{
    transform: scale(1.05);
  
}
.room-title-home{
    font-size: 2.3rem;
}
.room-desc-home{
    font-size: 1.3rem;
    width: 50%;
    margin: 1rem auto;
}
.view-room-btn {
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 1100px){
    .room-photo-container img{
        width: 100%;
        height: 200px;
    }
    .room-photo-container{
        width: 100%;
        height: 200px; 
    }
    .room-container-home{
        grid-template-areas: 
        "room-photo-container"
        "room-desc";
    }
    .view-room-btn {
        width: 100%;
    }
    .room-desc-home{
        font-size: 0.95rem;
    }
}