@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Saira:wght@200&display=swap");

footer {
  font-family: "Saira", sans-serif;
  background-image: linear-gradient(
    140deg, #FFFFFF00 0%, #EBEDEFDE 100%);
    padding-top: 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black
}
.footer-logo{
    width: 100px;
}

.footer-container img {
  width: 100px;
}

.footerIcons {
  margin: 2rem 0;
}

.footerIcons i {
  font-size: 1.3rem;
  color: black;
  padding-right: 2rem;
  transition: 0.5s;
}

.footerIcons a:hover i {
  transform: scale(1.2);
}

.footer-contactUs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
}

.contatUsTitle {
  font-family: "Saira", sans-serif;
}

.footer-contact-info p {
  line-height: 3;
}

.copyright {
  text-align: center;
  margin: 0;
  padding-bottom: 1rem;
  color: black;
}

@media screen and (max-width: 570px) {
  .footer-container {
    font-size: 0.8rem;
  }

  .footerIcons i {
    font-size: 1rem;
    padding-right: 1rem;
  }

  .footer-container img {
    width: 75px;
  }

  .logo-and-icons-container {
    width: 30%;
  }

  .footer-contactUs {
    align-self: flex-start;
    margin-top: 3rem;
  }
}
