.login-form-container form{
    display: grid;
    grid-template-areas: 
    "input-one"
    "input-two"
    "button";
    background-color: #f3f3f3;
    padding: 2rem;
    margin: 5rem auto;
    align-items: center;
    height: 50rem;
    width: 40%;
    border-radius: 5px;
}

    .login-form input{
        width: 100%;
        border: none;
        font-size: 2rem;
        height: 8rem;
        border-radius: 5px;
        background-color: white;
        padding: 1rem;
    }
    .login-btn{
        background-color: rgb(7, 207, 7);
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2rem;
        height: 8rem;
        border-radius: 5px;
    }
    .login-btn:hover{
        background-color: rgb(10, 175, 10);
    }
    .sign-heading{
        margin-bottom: 2rem;
        text-align: left;
        font-size: 2rem;
    }
    .dont-have-account{
        font-size: 2rem;
    }

    @media screen and (max-width: 750px) {
        .login-form-container form{
            width: 80%;
        }
        .dont-have-account{
            font-size: 1.5rem;
        }
    }