.checkout-page-container{
    display: grid;
    grid-template-areas: 
    "checkout-form coupon-form";
}
@media screen and (max-width: 1110px){
    .checkout-page-container{
    grid-template-areas: 
    "checkout-form"
    "coupon-form";
    }
  }